header h1{
    background-color: #795548;
    text-size-adjust: 10em;
}


.bienvenido{
    background-color:#9e9e9e ;
    
} 
header a{
    text-align: right;
    padding: 10px;
    color:blue ;
    text-align: justify;
    

}
main h2{
    margin-top: 30px;
 
}
main p{
    text-align: justify;
}
footer{
    display:block;
    margin-top:40px ;
    background-color:#795548 ;
text-align: center;
color: white;
}
@media screen and (max-wid:768px){
    .bienvenido
        background-color:#9e9e9e ;

}
